<% provide(:title, "Upcoming Shows" ) %>



<div id="container" class="centered transitions-enabled infinite-scroll clearfix">
  <% @events.each do |event| %>
    <div class="event-pre event box col5">
      <%= render 'event', event: event %>
    </div>
  <% end %>
</div>
