// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}

#events {
  padding: 0 5%;
  text-align: center;

  .event {
    display: inline-block;
    // margin-left: auto;
    // margin-right: auto;
    text-align: center;
    width: 49%;
    padding: 5% 0;
  }
}

.logo {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
