@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: black;
  color: white;
  padding: 0;
  margin: 0;
}


.logo {
  max-width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


h1, h2 {
  text-align: center;
}

.form-container {
  text-align: center;
  color: black;
  float: none;
  margin-left: auto;
  margin-right: auto;

  .band-name-form {
    margin: 10px 10px;
  }
}

.new_event {
  color: white;
  input[type="submit"] {
    color: black;
  }
  input[type="text"] {
    color: black;
  }
}

.tonight {
  .poster {
    box-shadow: 0px 0px 15px #fff;
  }
}

.event {
  font-size: 1em;
  text-align: center;
  font-weight: bold;
  color: white;
  .poster {
    vertical-align: top;
    img {
      cursor: pointer;
    }
  }

  .band {
    &:first-child {
      display: block;
      font-style: italic;
    }

    font-weight: normal;
    display: block;
    width: 40%;
    margin: auto;
  }

  a {
    display: inline-block;
    padding: 0 3px;
    text-decoration: none;
    color: black;
    background-color: white;
  }

  a:hover {
    background-color: lightgrey;
    cursor: pointer;
  }

  .separator {
    &:first-child {
      display:none;
    }
  }

  .bands {
    margin-top: 3px;
  }
}


.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }

.history {
  opacity: .5;
  -webkit-transition: opacity .18s ease-in-out;
  -moz-transition: opacity .18s ease-in-out;
  -ms-transition: opacity .18s ease-in-out;
  -o-transition: opacity .18s ease-in-out;
  transition: opacity .18s ease-in-out;
  &:hover {
    opacity: 1;
  }
}


.event-pre {
  width: auto;
  margin: 15px 25px;
  padding: 0 0;
  .poster {
    width: 200px;
    height: auto;
    display: inline-block;
    margin: auto;
  }

  .event-text { 
    display: none;
  }
}

.separator{
  img {
    opacity: .7;
    height: 1px;
    width: 50px;
    margin: 2px auto;
  }
}

.event-post {
  width: auto;
  margin: 15px 0;
  padding: 0 0;
  opacity: 1;
  .poster {
    width: auto;
    height: 500px;
    display: inline-block;
    margin: auto;
    margin-bottom: 10px;
  }

  .event-text {
    display: inline;
  }
}

.faded {
  opacity: .5;
}

.hidden {
  display: none;
}

.box {
  background-color: black;
  -webkit-transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -ms-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
  transition: opacity .35s ease-in-out;
  .box:hover {
    background: darkgray;
    border-color: white;
    cursor: pointer;
  }
}

.container {
  margin: auto;
}

.masonry:after {
  content: '';
  display: block;
  clear: both;
}

// Form Logic

.form-container {
  .date-form {
    margin: 30px;
    select {
      color: black;
    }
  }

  .poster-form {
    input[type="file"] {
      position: relative;
      margin: 0 0 0 93px;
    }

    input[type="text"] {
      color: red;
    }
  }

  .form-button {
    margin: 10px 0;
  }

  .button-success {
    background: white;
  }
}

// Event Show Page

.event-show-container {
}


.poster-show {

  // background: red;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;

  img {
  }
}

.bands-show {
  // background: blue;
  margin: auto;
  text-align: center;
  // display: table-cell;
  vertical-align: middle;
    .date-and-time {
      border-bottom: 1px solid white;
      font-family: 'Permanent Marker', cursive;
      font-size: 2em;
      // background-image: url(http://i.imgur.com/TrxPzLA.png);
      // color: black;
    }
  .band-show {
    font-family: 'Metal Mania', cursive;
    font-size: 3em;
    &:hover {
      color: red;
      cursor: pointer;
    }
  }

}

.playlist {
  margin: 0 40px;
  p {
    text-align: center;
  }
}

.red {
  color: red;
}


.taped-up {
  display: inline-block; /* displays element as an inline element similar to <span> */
  padding: 15px; /* size of the white border */
  margin: 25px; /* position image with other page elements */
  /* give the border's background color a gradient */
  /* depending on the colors you give you can make it look new or old and faded */
  background: #F5EEE1; /*default color for browsers that don't support gradients*/
  background: -webkit-linear-gradient(left top, #F5EEE1 , #FAFAF9); /* For Safari */
  background: -o-linear-gradient(bottom right, #F5EEE1, #FAFAF9); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #F5EEE1, #FAFAF9); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, #F5EEE1 , #FAFAF9); /* Standard syntax (should be last) */
  /* give the image a drop shadow */
  box-shadow: 2px 2px 4px rgba(0,0,0,0.75); 
  /* give the image a slight rotation for a realistic effect */  
  -ms-transform:rotate(3deg); /* IE 9 */
  -webkit-transform:rotate(3deg); /* Safari and Chrome */
  transform:rotate(3deg); /* Standard syntax (should be last) */
  /* Cleans up the jagged edges caused by the rotation a bit */
  -webkit-backface-visibility:hidden; /* Chrome and Safari */
  -moz-backface-visibility:hidden; /* Firefox */
  -ms-backface-visibility:hidden; /* Internet Explorer */   
  backface-visibility:hidden; /* Standard syntax (should be last) */
  position: relative; /* lets us later position the tape relative to the box */
} 

.taped-up:before {
  content: ''; /* create an empty psuedo element */
  position: absolute; /* positions the tape relative to the box created above rather than the whole page */
  background-color: rgba(255,255,255,0.4); /* using rgba for the color lets us make the tape transparent */
  height: 26px; /* height of the tape */
  /* using :before places the tape on the left of the div */
  left:100px; /* position from the left edge of the .taped-up div edge */
  top: -14px; /* position from the top edge of the .taped-up div edge */
  width: 95px; /* width of the tape */
  /*rotate the tape 5 degrees counter-clockwise*/
  -ms-transform:rotate(-5deg); /* IE 9 */
  -webkit-transform:rotate(-5deg); /* Safari and Chrome */
  transform:rotate(-5deg); /* Standard syntax (should be last) */ 
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1); /* give the tape a slight drop shadow */
  /* giving the tape an almost transparent dotted border on the right and left gives it a nicely perforated-look at the edges */  
  border-style: dotted;
  border-color: rgba(0,0,0,0.1);
  border-width: 0 2px; /* border only on right and left sides */
}

// Band Config

.band-config-form {
  margin: 40px;
  input {
    color: black;
  }
  color: white;
  h3 {
    color: white;
  }
}
